(
    cursor: (
        icon: Default,
        visible: true,
        grab_mode: None,
        hit_test: true,
        physical_position: None,
    ),
    present_mode: AutoNoVsync,
    mode: Windowed,
    position: Automatic,
    resolution: (
        physical_width: 1280,
        physical_height: 720,
        scale_factor_override: Some(0.85),
        scale_factor: 1.0,
    ),
    title: "External Search Protocol",
    composite_alpha_mode: Auto,
    resize_constraints: (
        min_width: 300.0,
        min_height: 300.0,
        max_width: 960.0,
        max_height: 720.0,
    ),
    resizable: true,
    decorations: true,
    transparent: false,
    focused: true,
    window_level: AlwaysOnTop,
    canvas: None,
    fit_canvas_to_parent: false,
    prevent_default_event_handling: false,
    internal: (
        minimize_request: None,
        maximize_request: None,
    ),
    ime_enabled: false,
    ime_position: (0.0, 0.0),
)